$navbar-height: 8vh;
$navbar-index: 100;
$navbar-elevation: var(--brand-elevation-1);
$navbar-border: 1px solid var(--brand-border-default-medium);

// menu
$navbar-menu-icon-size: $space-24;
$navbar-menu-outline: var(--brand-focused);
